{% include 'banner.html' %}

<body>
    <div class="row">
        <div id="h2">
            <h2 class="title-h2" id="title-h2">Club Grand Galop Centre Équestre de Lamotte-Beuvron</h2>
        </div>
        <img src="{{ url_for('static', filename='img/ranch.png') }}" class="img-fluid" id="img" alt="Responsive image">      
        <div class="d-flex" id="">
            <div     id="milieu-titre">
                <h1>Vous êtes dans la course</h1>
            </div>
            <div class="milieu-droite-txt-section">
                <p>Ecole Française d'Equitation.
                    labellisée Cheval Club de France, Poney-Club de France, Equi-handi Club, Centre de Tourisme Équestre et "Bien être animal".
                    Un site unique à la limite de la ville et de la Sologne, avec plus de 5000m² couverts pour le confort des 50 chevaux et poneys du club mais également celui des cavaliers passionnés </p>
            </div>
        </div>
    </div>
</body>

<style>
    #img{
        width: 30%;
        height: 30%;
        top: 30%;

    }

    #milieu-titre{
        position: absolute;
        width: 624px;
        height: 333px;
        left: 1004px;
        top: 613px;

        background: #BAEA79;
        border-radius: 27px;
    }

    #h2{
        position: relative;
        left: 10px;
        background-color: #BAEA79;
    }
    
 </style>