
    <ul style="display: flex; align-items: center; width: 100%; margin-top : 5%;" id="footer_toutes_img">
        <li>
            <img src="{{ url_for('static', filename='img/sologne.png') }}" alt="sologne" style="margin-top: 7%;margin-bottom: 7%;">
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/FFE.png') }}" alt="FFE" style="margin-top: 7%;margin-bottom: 7%;">
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/lamotte_beuvron.png') }}" alt="Lamotte-Beuvron" style="margin-top: 7%;margin-bottom: 7%;">
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/cheval_o_centre.png') }}" alt="Randonez">
        </li>
        <li>
            <img src="{{ url_for('static', filename='img/ecole_equitation.png') }}" alt="Ecole">
        </li>
    </ul>


<style>
    #footer_toutes_img{
        background-color: #d4fdda;
        margin-bottom: 0;
    }
    ul img{
        width: 40%;
    }
    li{
        list-style: none;
        display : flex;
        justify-content: center;
    }
    </style>