

<style>
    .row{
        margin: 1em;
    }
    #loader-background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(82, 82, 82, 0.1); /* Opacité de 50% */
        z-index: 999; /* Place l'élément en arrière-plan */
    }

    #loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centre l'SVG du loader */
    }
</style>
{% include 'banner.html' %}
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-12 col-md-8"></div>
                    <div class="col-6 col-md-4">
                        <button id="ajouterClient" type="button" class="btn btn-success">Ajouter</button>
                        <button id="Filtres" type="button" class="btn btn-success">Filtres</button>
                        <button id="buttonmodalSupr" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSupprimer">Supprimer</button>
                    </div>
                </div>
            </div>
            <table id="clients" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Date de naissance</th>
                        <th>Adresse Email</th>
                        <th>Numero de téléphone</th>
                        <th>A cotisé</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="modal fade" id="modalSupprimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Etes-vous sur de vouloir supprimer ce client ?</p>
                  <span id="clientsupprimer"></span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  <button type="button" class="btn btn-danger" id="deleteClient" data-dismiss="modal">Supprimer</button>
                </div>
              </div>
            </div>
        </div>
        <form method="POST">
            <div class="modal fade" id="modalAjouterClient" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nouveau Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-4">
                                <label for="PrenomClient" class="label label-primary">Prenom</label>
                            </div>
                            <div class="col-8">
                                <input required id="PrenomClient">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <label for="NomClient" class="label label-primary">Nom</label>
                            </div>
                            <div class="col-8">
                                <input required  id="NomClient">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label for="DateClient" class="label label-primary">Date de naissance</label>
                            </div>
                            <div class="col-8">
                                <input required id="DateClient" value="01/01/2022">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label for="PoidsClient" class="label label-primary">Poids</label>
                            </div>
                            <div class="col-8">
                                <input required id="PoidsClient">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <label for="AdresseEmailClient" class="label label-primary">Adresse Email</label>
                            </div>
                            <div class="col-8">
                                <input required  id="AdresseEmailClient">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <label  for="AdresseClient" class="label label-primary">Adresse</label>
                            </div>
                            <div class="col-8">
                                <input required  id="AdresseClient">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <label for="CodePostalClient" class="label label-primary">Code Postal</label>
                            </div>
                            <div class="col-8">
                                <input required  id="CodePostalClient">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <label for="VilleClient" class="label label-primary">Ville</label>
                            </div>
                            <div class="col-8">
                                <input required id="VilleClient">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <label for="TelClient" class="label label-primary">Numero de téléphone</label>
                            </div>
                            <div class="col-8">
                                <input required id="TelClient">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <label for="CotiseClient" class="label label-primary">Déjà cotisé ?</label>
                            </div>
                            <div class="col-8">
                                <input required id="CotiseClient">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-success" id="ajouterClient2">Créer</button>
                    </div>
                </div>
                </div>
            </div>
        </form>
        <div class="modal" id="modalFiltreClients" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filtre<h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="IDFiltre" class="k-label">ID</label>
                        </div>
                        <div class="col-md-7">
                            <input id="IDFiltre">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label for="NomFiltre" class="k-label">Nom</label>
                        </div>
                        <div class="col-md-7">
                            <input id="NomFiltre">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-5">
                            <label for="PrenomFiltre" class="label label-primary">Prénom</label>
                        </div>
                        <div class="col-md-7">
                            <input  id="PrenomFiltre">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-5">
                            <label for="NaissanceFiltre" class="label label-primary">Date de naissance</label>
                        </div>
                        <div class="col-md-7">
                            <input id="NaissanceFiltre">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-5">
                            <label for="AdresseEmailFiltre" class="label label-primary">Adresse Email</label>
                        </div>
                        <div class="col-md-7">
                            <input  id="AdresseEmailFiltre">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label for="TelephoneFiltre" class="label label-primary">Numéro de téléphone</label>
                        </div>
                        <div class="col-md-7">
                            <input id="TelephoneFiltre">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label for="CotiseReservation" class="label label-primary">A cotisé ?</label>
                        </div>
                        <div class="col-md-7">
                            <input id="CotiseReservation1">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-success" id="savefilter">Sauvegarder</button>
                </div>
            </div>
            </div>
        </div>
    </section>
    <div id="loader-background" style="display: none;">
        <img id="loader" src="{{url_for('static', filename='img/loader.svg')}}"/>
    </div>
</body>
<script src="https://kendo.cdn.telerik.com/2022.3.1109/js/cultures/kendo.culture.fr-FR.min.js"></script>

<script>
    function isNumeric(str) {
        if (typeof str != "string") return false // we only process strings!  
        return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
                !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
}
    var row = null;
    var table = null;
        

        $("#buttonmodalSupr").prop("disabled",true)

        $(document).ready(function() {
            $("#IDFiltre").kendoNumericTextBox({
                culture: "fr-FR",
                min:0,
                placeholder: "Entrer l'id d'une personne",
                format: "{0:n0}",
                size : "medium",
            });
            $("#NomFiltre").kendoTextBox({
                placeholder: "Entrer le nom d'une personne",
                size : "medium",
            });
            
            $("#PrenomFiltre").kendoTextBox({
                placeholder: "Entrer le prénom d'une personne",
                size : "medium",
            });

            $("#NaissanceFiltre").kendoDatePicker({
                culture: "fr-FR",
                size : "medium",
            });

            $("#AdresseEmailFiltre").kendoTextBox({
                placeholder: "Entrer l'adresse email d'une personne",
                size : "medium",
            });
            $("#TelephoneFiltre").kendoTextBox({
                placeholder: "Entrer le numéro de téléphone d'une personne",
                size : "medium",
            });
            $("#CotiseReservation1").kendoComboBox({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "", value: "1" },
                            { text: "Oui", value: "2" },
                            { text: "Non", value: "3" },
                            
                        ],
                        size : "medium",
                    });
        var table = $('#clients').DataTable({
            ajax: {
                url:'/api/dataclients',
                type:"POST",
                data:function(c){
                    if(c!=undefined){
                        c.id = $("#IDFiltre").val();
                        c.nom = $("#NomFiltre").val();
                        c.prenom = $("#PrenomFiltre").val();
                        c.naissance = $("#NaissanceFiltre").val();
                        c.adresseEmail = $("#AdresseEmailFiltre").val();
                        c.telephone = $("#TelephoneFiltre").val();
                        c.a_paye = $("#CotiseReservation1").data("kendoComboBox").text() 
                    }
                }
            },
            columns: [
                {data: 'idp',className: "dt-center"},
                {data: 'nomp',className: "dt-center"},
                {data: 'prenomp',className: "dt-center"},
                {data: 'ddn',className: "dt-center",orderable:false,"render" : function (data) { 
    
                    let m = new Date(data);
                    return moment(m).format("DD/MM/YYYY");}
                },
                {data: 'adressemail',orderable:false,className: "dt-center"},
                {data: 'numerotel',orderable:false,className: "dt-center"},
                {data: 'cotisation',orderable:false,className: "dt-center", "render":function (data, type, row) {
                          return (data === true) ? '<input class="form-check-input" type="checkbox" value="" onclick="save(this)" id="flexCheckChecked" checked>':'<input class="form-check-input" onclick="save(this)" type="checkbox" value="" id="flexCheckChecked">'}
           },
        ],
            info:true,
            scroller:true,
            scrollY:500,
            paging: false,
            info: false,
            "searching": false,
      });

        const container = document.getElementById("modalAjouterClient");
        const modal = new bootstrap.Modal(container);
        document.getElementById("ajouterClient").addEventListener("click", function () {
            modal.show();
        });
        document.getElementById("ajouterClient2").addEventListener("click", function () {
            var prenom = $("#PrenomClient").val()
            var nom = $("#NomClient").val()
            var poids = $("#PoidsClient").val()
            var adresseemail = $("#AdresseEmailClient").val()
            var adresse = $("#AdresseClient").val()
            var codepostal = $("#CodePostalClient").val()
            var ville = $("#VilleClient").val()
            var tel = $("#TelClient").val()
            var datepicker = $("#DateClient").data("kendoDatePicker");

            if(prenom != "" && nom != "" && poids != ""&& isNumeric(poids) && adresseemail != "" && adresse != "" && codepostal != ""&& isNumeric(codepostal) && ville != "" && tel != ""&& isNumeric(tel)&& datepicker._value != null){
                modal.hide();
            }
      });
  
        
        $("#ajouterClient2").on("click",function(){
            var prenom = $("#PrenomClient").val()
            var nom = $("#NomClient").val()
            var poids = $("#PoidsClient").val()
            var adresseemail = $("#AdresseEmailClient").val()
            var adresse = $("#AdresseClient").val()
            var codepostal = $("#CodePostalClient").val()
            var ville = $("#VilleClient").val()
            var tel = $("#TelClient").val()
            var cotise = $("#CotiseClient").data("kendoComboBox").text()  == "Oui"?true:false;
            console.log(cotise)
            prenom == ""?$("#PrenomClient").css("border","1px solid red"):$("#PrenomClient").css("border","");
            nom == ""?$("#NomClient").css("border","1px solid red"):$("#NomClient").css("border","");
            var datepicker = $("#DateClient").data("kendoDatePicker");
            datepicker._value == null?$('#DateClient').css("border","1px solid red"):$("#DateClient").css("border","");
            
            poids == ""  || !isNumeric(poids)?$("#PoidsClient").css("border","1px solid red"):$("#PoidsClient").css("border","");
            adresseemail == ""?$("#AdresseEmailClient").css("border","1px solid red"):$("#AdresseEmailClient").css("border","");
            adresse == ""?$("#AdresseClient").css("border","1px solid red"):$("#AdresseClient").css("border","");
            codepostal == "" || !isNumeric(codepostal) ?$("#CodePostalClient").css("border","1px solid red"):$("#CodePostalClient").css("border","");
            ville == ""?$("#VilleClient").css("border","1px solid red"):$("#VilleClient").css("border","");
            tel == "" || !isNumeric(tel)?$("#TelClient").css("border","1px solid red"):$("#TelClient").css("border","");
            $("#loader-background").show()

            if(prenom != "" && nom != "" && poids != ""&& isNumeric(poids) && adresseemail != "" && adresse != "" && codepostal != ""&& isNumeric(codepostal) && ville != "" && tel != ""&& isNumeric(tel)&& datepicker._value != null){
  
                $.ajax({
                url:'{{url_for("AddClient")}}',
                type:'POST',
                data:{
                    prenom : prenom,
                    nom : nom,
                    date : datepicker._value.toLocaleDateString(),
                    poids : poids,
                    adresseemail : adresseemail,
                    adresse:adresse,
                    codepostal:codepostal,
                    ville:ville,
                    tel:tel,
                    cotise:cotise
                    },
            success: function(response){ 
                table.ajax.reload();
                $("#loader-background").hide()
                if(response == "true"){
                
                    $("#PrenomClient").data("kendoTextBox").value("")
                    $("#NomClient").data("kendoTextBox").value("")
                    $("#VilleClient").data("kendoTextBox").value("")

                    $("#AdresseEmailClient").data("kendoTextBox").value("")
                    $("#AdresseClient").data("kendoTextBox").value("")
                    $("#CodePostalClient").data("kendoTextBox").value("")
                    $("#TelClient").data("kendoTextBox").value("")

                    $("#DateClient").data("kendoDatePicker").value(null)

                    $("#PoidsClient").data("kendoNumericTextBox").value("")
                    $("#CotiseClient").data("kendoComboBox").value("")
                }
                } 
            });
        }     
        });

        $("#PrenomClient").kendoTextBox({
            placeholder: "Prenom",
            fillMode: "solid",
            size : "medium",
        });

        $("#NomClient").kendoTextBox({
            placeholder: "Nom",
            fillMode: "solid",
            size : "medium",
        });

        $("#DateClient").kendoDatePicker({
            start: "year",
            format: "dd/MM/yyyy",
            size : "medium",
            placeholder : "Entrer la date de naissance"
        });

        $("#PoidsClient").kendoNumericTextBox({
                culture: "fr-FR",
                min:0,
                value : 0,
                placeholder: "Entrer le poids supporté min",
                format: "{0:n0}",
                size : "medium",
            });

        $("#AdresseEmailClient").kendoTextBox({
            placeholder: "Adresse Email",
            fillMode: "solid",
            size : "medium",
        });

        $("#AdresseClient").kendoTextBox({
            placeholder: "Adresse",
            fillMode: "solid",
            size : "medium",
        });

        $("#CodePostalClient").kendoTextBox({
            placeholder: "Code Postal",
            fillMode: "solid",
            size : "medium",
        });

        $("#VilleClient").kendoTextBox({
            placeholder: "Ville",
            fillMode: "solid",
            size : "medium",
        });

        $("#TelClient").kendoTextBox({
            placeholder: "Numéro de téléphone",
            fillMode: "solid",
            size : "medium",
        });

        $("#CotiseClient").kendoComboBox({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "Oui", value: "1" },
                            { text: "Non", value: "2" },
                        ],
                        filter: "contains",
                        suggest: true,
                        clearButton: false,
                        index: 1,
                        size : "medium",
                    });

        $("#clients").on("click", "tr", function() {
            if(row !=null){
                $(row).css('background-color', "");     
            }
            $("#buttonmodalSupr").prop("disabled",false)
            row = this;
            $(this).css('background-color', "#AFE1AF");
            $("#clientsupprimer").html($(row)[0].childNodes[1].innerHTML+ " " + $(row)[0].childNodes[2].innerHTML)
        });
        

        $("#clients").on("dblclick", "tr", function() {
            const id = $(row)[0].childNodes[0].innerHTML
            const url = '{{url_for("PersonneDetail",id="idClient")}}'.replace("idClient",id)
            window.location.href = "/Personne/"+id;
            
        });
                
        $("#deleteClient").on("click",function(){
            $("#loader-background").show()
            $.ajax({
                url:'{{url_for("DeleteClient")}}',
                type:'POST',
                data:{id:$(row)[0].childNodes[0].innerHTML},
            success: function(){
                table.ajax.reload();
                row = null;
                $("#loader-background").hide()
                $("#buttonmodalSupr").prop("disabled",true)
                } 
            });       
        });
        $("#savefilter").on("click",function(){
            table.ajax.reload();
            $("#modalFiltreClients").modal("hide")
        });
        $("#Filtres").on("click",function(){
            $("#modalFiltreClients").modal("show")
        })

        });
        function save(checkbox){
            var ligne = ($(checkbox).parents()[1])
            $.ajax({
                url:'{{url_for("UpdateClient")}}',
                type:'POST',
                data:{id:ligne.children[0].innerHTML,
                      cotisation :$(checkbox)[0].checked},
            success: function(){

                } 
            });       
        }
</script>
</html>