
{% include 'banner.html' %}
<style>
    .row{
        margin: 1em;
    }

    #loader-background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(82, 82, 82, 0.1); /* Opacité de 50% */
        z-index: 999; /* Place l'élément en arrière-plan */
    }

    #loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centre l'SVG du loader */
    }
</style>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-12 col-md-8"></div>
                    <div class="col-6 col-md-4">
                        <button id="ajouterReservation" type="button" class="btn btn-success">Ajouter</button>
                        <button id="filtres" type="button" class="btn btn-success">Filtres</button>
                        <button id="buttonmodalSupr" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSupprimer">Supprimer</button>
                    </div>
                </div>
            </div>
            <table id="reservations" class="table table-striped">
                <thead>
                    <tr>
                        <th>Date de reservation</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Cours</th>
                        <th>Poney</th>
                        <th>Durée</th>
                        <th>Est payé</th>
                        <th>ID</th>
                        <th>IDPO</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="modal fade" id="modalSupprimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Etes-vous sur de vouloir supprimer cette Reservation ?</p>
                  <span id="reservationsupprimer"></span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  <button type="button" class="btn btn-danger" id="deleteReservation" data-dismiss="modal">Supprimer</button>
                </div>
              </div>
            </div>
        </div>
    </section>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modifier Client</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <div id="loader-background" style="display: none;">
        <img id="loader" src="{{url_for('static', filename='img/loader.svg')}}"/>
    </div>

    
    <div class="modal fade" id="modalAjouterReservation" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nouvelle Reservation<h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <label for="DateReservation" class="label label-primary">Date de reservation</label>
                    </div>
                    <div class="col-8">
                        <input required id="DateReservation" value="01/01/2022">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="PersonneReservation" class="label label-primary">Personne</label>
                    </div>
                    <div class="col-8">
                        <input required id="PersonneReservation">
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="CoursReservation" class="label label-primary">Cours</label>
                    </div>
                    <div class="col-8">
                        <input required  id="CoursReservation">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-4">
                        <label for="PoneyReservation" class="label label-primary">Poney</label>
                    </div>
                    <div class="col-8">
                        <input required id="PoneyReservation">
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="DuréeReservation" class="label label-primary">Durée</label>
                    </div>
                    <div class="col-8">
                        <input required  id="DuréeReservation">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="CotiseReservation" class="label label-primary">Déjà cotisé ?</label>
                    </div>
                    <div class="col-8">
                        <input required id="CotiseReservation">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-success" id="addReservation">Créer</button>
            </div>
        </div>
        </div>
    </div>
<form>
    <div class="modal fade" id="modalFiltreReservation" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Filtre<h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <label for="DateReservation" class="label label-primary">Date de reservation</label>
                    </div>
                    <div class="col-8">
                        <input id="DateReservation1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="PersonneReservation" class="label label-primary">Personne</label>
                    </div>
                    <div class="col-8">
                        <input id="PersonneReservation1">
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="CoursReservation" class="label label-primary">Cours</label>
                    </div>
                    <div class="col-8">
                        <input  id="CoursReservation1">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-4">
                        <label for="PoneyReservation" class="label label-primary">Poney</label>
                    </div>
                    <div class="col-8">
                        <input id="PoneyReservation1">
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="DuréeReservation" class="label label-primary">Durée</label>
                    </div>
                    <div class="col-8">
                        <input  id="DuréeReservation1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="CotiseReservation" class="label label-primary">Est payé ?</label>
                    </div>
                    <div class="col-8">
                        <input id="CotiseReservation1">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-success" id="savefilter">Sauvegarder</button>
            </div>
        </div>
        </div>
    </div>
</form>
</body>
<script src="https://kendo.cdn.telerik.com/2022.3.1109/js/cultures/kendo.culture.fr-FR.min.js"></script>

<script>
    function isNumeric(str) {
        if (typeof str != "string") return false // we only process strings!  
        return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
                !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
}
    var row = null;
    var table = null;
        $("#buttonmodalSupr").prop("disabled",true)

        $(document).ready(function() {
        
            $("#PersonneReservation").kendoComboBox({
            dataSource: [],
            dataTextField: "name",
            dataValueField: "name"
        });

        $("#CoursReservation").kendoComboBox({dataSource: [],
            dataTextField: "name",
            dataValueField: "name"});

        $("#DateReservation").kendoDateTimePicker({
            culture:"fr-FR",
        });

        $("#PoneyReservation").kendoComboBox({
            dataSource: [],
                    dataTextField: "name",
                    dataValueField: "name"
        });
        $("#PersonneReservation1").kendoComboBox({
            dataSource: [],
            dataTextField: "name",
            dataValueField: "name"
        });

        $("#CoursReservation1").kendoComboBox({dataSource: [],
            dataTextField: "name",
            dataValueField: "name"});

        $("#DateReservation1").kendoDateTimePicker({
            culture:"fr-FR",
        });

        $("#PoneyReservation1").kendoComboBox({
            dataSource: [],
                    dataTextField: "name",
                    dataValueField: "name"
        });
        $("#DuréeReservation1").kendoTimePicker({
            culture:"fr-FR",
            interval:5,
            max: new Date(2000, 0, 1, 2, 0, 0)
            
                    });
        $("#CotiseReservation1").kendoComboBox({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "", value: "1" },
                            { text: "Oui", value: "2" },
                            { text: "Non", value: "3" },
                            
                        ]
                    });
        $("#DuréeReservation").kendoTimePicker({
            culture:"fr-FR",
            interval:5,
            max: new Date(2000, 0, 1, 2, 0, 0)
            
                    });
        $("#CotiseReservation").kendoComboBox({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "Oui", value: "1" },
                            { text: "Non", value: "2" },
                            
                        ],
                        filter: "contains",
                        suggest: true,
                        clearButton: false,
                        index: 1
                    });
        


        var personnes =  $("#PersonneReservation").data("kendoComboBox");
        var listePersonne = "{{Personnes}}".replaceAll("&#39;","").replaceAll("[","").replaceAll("]","").replaceAll(", ",",").split(",")
        var listeCours = "{{cours}}".replaceAll("&#39;","").replaceAll("[","").replaceAll("]","").replaceAll(", ",",").split(",")
        var listePoneys = "{{poneys}}".replaceAll("&#39;","").replaceAll("[","").replaceAll("]","").replaceAll(", ",",").split(",")

        
        for(let i = 0; i<listePersonne.length;i++){
            $("#PersonneReservation").data("kendoComboBox").dataSource.add({name :listePersonne[i]})
            $("#PersonneReservation1").data("kendoComboBox").dataSource.add({name :listePersonne[i]})
        }
        for(let i = 0; i<listeCours.length;i++){
            $("#CoursReservation").data("kendoComboBox").dataSource.add({name :listeCours[i]})
            $("#CoursReservation1").data("kendoComboBox").dataSource.add({name :listeCours[i]})
        }
        for(let i = 0; i<listePoneys.length;i++){
            $("#PoneyReservation").data("kendoComboBox").dataSource.add({name :listePoneys[i]})
            $("#PoneyReservation1").data("kendoComboBox").dataSource.add({name :listePoneys[i]})
        }

        $("#filtres").on("click",function(){
            $("#modalFiltreReservation").modal("show")
        })
       
       
       
        
        table = $('#reservations').DataTable({
            ajax: {
                url:'/api/datareservation', 
                type:"POST",
                data:function(d){
                    if(d!=undefined){
                        d.jmahms = $("#DateReservation1").val();
                        d.id = $("#PersonneReservation1").val().split(" ")[0];
                        d.idpo = $("#PoneyReservation1").val().split(" ")[0];
                        d.idc = $("#CoursReservation1").val().split(" ")[0];
                        d.duree = $("#DuréeReservation1").val();
                        d.a_paye = $("#CotiseReservation1").data("kendoComboBox").text() 
                        return d
                    }
                }
            },
                
            columns: [
                {data: 'jmahms',className: "dt-center",orderable:false,"render" : function (data) { 
                    let m = new Date(data);
                    var date = moment.utc(m).format('DD/MM/YYYY HH:mm:ss');
                    return date
                }
            },
                {data: 'nomp',orderable:false,className: "dt-center",id : {data:"id"}
            },
                {data: 'prenomp',orderable:false,className: "dt-center"},
                {data: 'nomc',orderable:false,className: "dt-center"},
                {data: 'nompo',orderable:false,className: "dt-center"},
                {data: 'duree',orderable:false,className: "dt-center"},
                {data: 'a_paye',orderable:false,className: "dt-center", "render":function (data, type, row) {
                          return (data === true) ? '<input class="form-check-input" type="checkbox" value="" onclick="save(this)" id="flexCheckChecked" checked>':'<input class="form-check-input" onclick="save(this)" type="checkbox" value="" id="flexCheckChecked">'} },
                {data: "id",className:"a"},
                {data:"idpo",className:"a"}
           ,
        ],
            info:true,
            scroller:true,
            scrollY:500,
            paging: false,
            info: false,
            "searching": false,
      });
        const container = document.getElementById("modalAjouterReservation");
        const modal = new bootstrap.Modal(container);
        document.getElementById("ajouterReservation").addEventListener("click", function () {
            modal.show();
        });
        document.getElementById("addReservation").addEventListener("click", function () {
            var prenom = $("#PersonneReservation").val()
            var nom = $("#CoursReservation").val()
            var poids = $("#PoneyReservation").val()
            var adresseemail = $("#DuréeReservation").val()
            var adresse = $("#AdresseClient").val()
            var codepostal = $("#CodePostalClient").val()
            var ville = $("#VilleClient").val()
            var tel = $("#TelClient").val()
            var datepicker = $("#DateReservation").data("kendoDatePicker");

            if(prenom != "" && nom != "" && poids != ""&& isNumeric(poids) && adresseemail != "" && adresse != "" && codepostal != ""&& isNumeric(codepostal) && ville != "" && tel != ""&& isNumeric(tel)&& datepicker._value != null){

                modal.hide();
            }
      });
  
        
        $("#addReservation").on("click",function(){
            var personne = $("#PersonneReservation").val()
            var cours = $("#CoursReservation").val()
            var poney = $("#PoneyReservation").val()
            var duree = $("#DuréeReservation").val()
            var cotise = $("#CotiseReservation").val() == "Oui"?true:false;
            
            personne == ""?$("#PersonneReservation").css("border","1px solid red"):$("#PersonneReservation").css("border","");
            cours == ""?$("#CoursReservation").css("border","1px solid red"):$("#CoursReservation").css("border","");
            var datepicker = $("#DateReservation").data("kendoDatePicker");
            datepicker._value == null?$('#DateReservation').css("border","1px solid red"):$("#DateReservation").css("border","");
            poney == ""  || !isNumeric(poids)?$("#PoneyReservation").css("border","1px solid red"):$("#PoneyReservation").css("border","");
            duree == ""?$("#DuréeReservation").css("border","1px solid red"):$("#DuréeReservation").css("border","");

            if(personne != "" && cours != "" && poney != ""&& duree != "" && cotise != "" && datepicker._value != null){
                $.ajax({
                url:'{{url_for("AddReservation")}}',
                type:'POST',
                data:{
                    dateReservation : datepicker._value.toLocaleDateString(),
                    personne : personne,
                    cours : cours,
                    poney : poney,
                    duree : duree,
                    cotise:cotise
                    },
            success: function(){ 
                console.log("reussi")
                table.ajax.reload();

                } 
            });
        }     
        });

       

        $("#reservations").on("click", "tr", function() {
            if(row !=null){
                $(row).css('background-color', "");     
            }
            $("#buttonmodalSupr").prop("disabled",false)
            row = this;
            $(this).css('background-color', "#AFE1AF");
            $("#reservationsupprimer").html("Le " +$(row)[0].childNodes[0].innerHTML+ " avec " + $(row)[0].childNodes[1].innerHTML + " " + $(row)[0].childNodes[2].innerHTML)
        });
        

        /*$("#reservations").on("dblclick", "tr", function() {
            var date = $(row)[0].childNodes[0].innerHTML
            var id = $(row)[0].childNodes[0].innerHTML;
            
            $.ajax({
                type:"POST",
                data:{"id":id},
                url:url,
                success:function(response){ window.location.href = "/Client/"+id;

               

            });
        });
                } */
        $("#deleteReservation").on("click",function(){
            $("#loader-background").show()
            $.ajax({
                url:'{{url_for("DeleteReservation")}}',
                type:'POST',
                data:{jmahms:$(row)[0].childNodes[0].innerHTML,
                    id:$(row)[0].childNodes[7].innerHTML,
                    idpo:$(row)[0].childNodes[8].innerHTML},
            success: function(){
                table.ajax.reload();
                row = null;
                $("#loader-background").hide()
                $("#buttonmodalSupr").prop("disabled",true)
                } 
            });       
        });
        var test = $("#savefilter").on("click",function(){
            table.ajax.reload();
        });
        });

    function save(checkbox){
        var ligne = ($(checkbox).parents()[1])
        $.ajax({
            url:'{{url_for("UpdateReservation")}}',
            type:'POST',
            data:{
                    est_paye :$(checkbox)[0].checked,
                    jmahms : ligne.children[0].innerHTML,
                    id : table.row($(checkbox).parents()).data()["id"],
                    idpo : table.row($(checkbox).parents()).data()["idpo"]
                },
        success: function(response){
                if(response == "false"){
                    alert("Erreur lors de l'update")
            }   
        }
        });    
    }
</script>
</html>