<style>
    li{
        list-style: none;
    }
</style>
<footer style="width: 100%;">
    <div class="container-fluid" style="background-color: #c0f5c8;height: 9em;display: flex; align-items:center;">
        <div class="col-md-2" style="height: 100%;text-align: center;">
            <img src="{{ url_for('static', filename='img/grand_galop2.png') }}" alt="GRAND_GALOP" height="100%" >
        </div>
        <div class="col-md-4" style="height: 100%;display: flex;align-items: center;flex-wrap: wrap;">
            <div class="row">
                <p style="margin: 0; width: 100%;font-weight: bold;font-size: 1.2em;">41600 Lamotte-Beuvron</p>
                <p style="margin: 0;width: 100%;font-weight: bold;font-size: 1.2em;">02 38 78 31 64</p>
            </div>
        </div>
        <div class="col-md-3" style="height: 100%;display: flex; align-items:center;">
            <ul>
                <li style="font-size: 1.3em;text-decoration: underline;">Mentions légales</li>
                <li style="font-size: 1.3em;text-decoration: underline;">Politique de confidentialité</li>
                <li style="font-size: 1.3em;text-decoration: underline;">Paramètre des cookies</li>                
            </ul>
        </div>
        <div class="col-md-3" style="height: 100%;display: flex;align-items: center;">
            <div style="width: max-content;background-color:#5db66b ; border-radius: 1em;padding: 1em;">
                <p style="font-size: 1.2em;color: white;font-weight: bold;margin: 0;width: 12em;">SUIVEZ L'EQUITATION AVEC <a href = "https://www.equidia.fr/" target="_blank"> <img src="{{ url_for('static', filename='img/equidia.png') }}" href="" alt="equidia" style="margin-left:1em;width: 8em;position: absolute;"> </a></p>
            </div>
            </div>
        </div>
    </div>
</footer>